body{
    background-color: #00284a;      
}
@font-face {
    font-family: "Google Sans Regular"; src: url(./fonts/GoogleSans-Regular.ttf);
    font-family: "Google Sans Medium"; src: url(./fonts/GoogleSans-Medium.ttf);
}

.container {
    font-family: "Google Sans Medium";
    font-size: 32px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    margin-left: 7%;
    margin-top: 96px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.desc {
    font-family: "Google Sans Regular";
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    margin-left: 7%;
    margin-top: -16px;
    margin-right: 7%;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

.parent{
    display: flex;   
    font-size: 32px;
    vertical-align: baseline;
    margin-top: 148px;
}

.reachout-1 {
    font-family: "Google Sans Regular";
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    margin-left: 7%;
    margin-right: 7%;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

.social{
    display: flex;
}

.twitter{
    margin-left: 7%;
}
.linkedin{
    margin-left: 3%;
}
.github{
    margin-left: 3%;
    margin-bottom: 40px;
}
